.root-vbox {
    -fx-padding: 15;
}

.table-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-padding: 0 0 10 0;
}
.root-vbox {
    -fx-background-color: transparent;
}
Label {
    -fx-text-fill: white;
}