.root-vbox {
    -fx-padding: 15;
    -fx-background-image: url('/images/motos-bg.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.root-vbox {
    -fx-padding: 15;
    -fx-background-color: linear-gradient(to bottom, #eafaf1, #d5f5e3);
}

.table-view {
    -fx-background-color: rgba(255, 255, 255, 0.85);
    -fx-table-cell-border-color: #cccccc;
}

.botonera {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-padding: 10;
    -fx-background-radius: 8;
}

.btn-accion {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 10 25;
}

.btn-accion:hover {
    -fx-background-color: #219a52;
}