.root-vbox {
    -fx-padding: 15;
}

.table-view {
    -fx-background-color: white;
    -fx-table-cell-border-color: #cccccc;
}

.table-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-alignment: CENTER;
    -fx-padding: 0 0 10 0;
}