.table-view {
    -fx-background-color: white;
    -fx-table-cell-border-color: #dddddd;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

.table-view .column-header-background {
    -fx-background-color: #34495e;
    -fx-background-radius: 8 8 0 0;
}

.table-view .column-header {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-row-cell:selected {
    -fx-background-color: #3498db;
}

.table-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-alignment: CENTER;
    -fx-padding: 0 0 10 0;
}

.report-description {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 5 0 5 0;
}